rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /appointments/{appointmentId} {
        // Allow users to perform all actions on their own appointments document
        allow read, write, update, delete: if request.auth != null && request.auth.uid == userId;
      }
      // Allow users to list (query) their own appointments collection
      allow list: if request.auth != null && request.auth.uid == userId;
    }
  }
}
