.shiny-text {
  color: transparent;
  background: linear-gradient(
    120deg,
    #082B12 40%,
    rgba(255, 255, 255, 0.8) 50%,
    #082B12 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
